<div id='main-view'>
  <div id='container-about'>
    <p>Hi! my name is Arnaud.</p>
    <br>
    <p><i class="fa fa-street-view" aria-hidden="true"></i> I am a 29yo french guy living in Toronto.</p>
    <p><i class="fa fa-terminal" aria-hidden="true"></i> I am a full stack developer with a passion for the startups ecosystem.</p>
    <br>
    <p> I used to <i class="fa fa-paint-brush" aria-hidden="true"></i> and play <i class="fa fa-futbol-o" aria-hidden="true"></i> when I was a teenager.</p>
    <p>I read science-fiction and entrepreneurship <i class="fa fa-book" aria-hidden="true"></i> from time to time.</p>
    <br>
    <p><i class="fa fa-film" aria-hidden="true"></i> I am a TV Shows consumer and a huge fan of Pixar animation movies.</p>
    <p><i class="fa fa-trophy" aria-hidden="true"></i> I can run 10 kilometers in approximately 41 minutes and learnt to ride a <i class="fa fa-motorcycle" aria-hidden="true"></i> in my late 20s.</p>
    <br>
    <p><i class="fa fa-cutlery" aria-hidden="true"></i> I am trying to become a vegetarian person for the health of our <i class="fa fa-globe" aria-hidden="true"></i>.</p>
  </div>
</div>
{{outlet}}
